<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
#set($primaryKey = $table.getPrimaryKey())
#set($tableName = $table.getName())
#set($varName="")
#set($column1 = "")
#set($column2 = "")
#set($column3 = "")
#set($column4 = "")
#foreach( $column in $table.getColumns())
    #set($varName = $varName + $column.getName() + ", ")
    #set($column3 = $column3 + "$column.getName() = #{record.$column.getPropertyName(),jdbcType=$column.getJdbcType()}," + ${newLine} + ${tab} + ${tab})
    #if(!$column.isKey())
        #set($column1=$column1 + $column.getName() + ", ")
        #set($column2 = $column2 + "#{$column.getPropertyName(),jdbcType=$column.getJdbcType()}, ")
        #set($column4 = $column4 + "$column.getName() = #{$column.getPropertyName(),jdbcType=$column.getJdbcType()},"  + ${newLine} + ${tab} + ${tab})
    #end
    #if($velocityCount % 8 == 0)
        #set($varName = $varName + ${newLine} + ${tab})
    #end
    #if($velocityCount % 3 == 0)
        #set($column1 = $column1 + ${newLine} + ${tab})
        #set($column2 = $column2 + ${newLine} + ${tab})
    #end
#end
#set($varName=$varName.substring(0,$varName.lastIndexOf(',')))
#set($column1=$column1.substring(0,$column1.lastIndexOf(',')))
#set($column2=$column2.substring(0,$column2.lastIndexOf(',')))
#set($column3=$column3.substring(0,$column3.lastIndexOf(',')))
#set($column4=$column4.substring(0,$column4.lastIndexOf(',')))

<mapper namespace="$!{table.getFullInterfaceName()}">
  <resultMap id="BaseResultMap" type="$!{table.getFullDomainObjectName()}">
    <!--
      WARNING
      This element is automatically generated by Sissi Studio MyBatis Generator, do not modify.
    -->
#foreach($column in $table.getColumns())
#if($column.isKey())
    <id column="$!{column.getName()}" jdbcType="$!{column.getJdbcType()}" property="$!{column.getPropertyName()}" />
#else
    <result column="$!{column.getName()}" jdbcType="$!{column.getJdbcType()}" property="$!{column.getPropertyName()}" />
#end
#end
  </resultMap>
  <sql id="Param_Where_Clause">
    <!--
      WARNING
      This element is automatically generated by Sissi Studio MyBatis Generator, do not modify.
    -->
    <where>
      <foreach collection="orderCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Param_Where_Clause">
    <!--
      WARNING
      This element is automatically generated by Sissi Studio MyBatis Generator, do not modify.
    -->
    <where>
      <foreach collection="$!{table.getParamName()}.orderCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING
      This element is automatically generated by Sissi Studio MyBatis Generator, do not modify.
    -->
    $!{varName}
  </sql>

  <select id="selectByParam" resultMap="BaseResultMap">
    <!--
      WARNING
      This element is automatically generated by Sissi Studio MyBatis Generator, do not modify.
    -->
    select
    <if test="distinctSql != null">
      distinct ${distinctSql}
    </if>
    <if test="distinctSql == null">
      <include refid="Base_Column_List" />
    </if>
    from $!{table.getName()}
    <if test="_parameter != null">
      <include refid="Param_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="page">
      limit #{pageIndex},#{pageSize}
    </if>
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING
      This element is automatically generated by Sissi Studio MyBatis Generator, do not modify.
    -->
    select
    <include refid="Base_Column_List" />
    from $!{table.getName()}
    where $!{table.getPrimaryKey().getName()} = #{$!{table.getPrimaryKey().getPropertyName()},jdbcType=$!{table.getPrimaryKey().getJdbcType()}}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--
      WARNING
      This element is automatically generated by Sissi Studio MyBatis Generator, do not modify.
    -->
    delete from $!{tableName}
    where $!{primaryKey.getName()} = #{$!{primaryKey.getPropertyName()},jdbcType=$!{primaryKey.getJdbcType()}}
  </delete>

  <delete id="deleteByParam">
    <!--
      WARNING
      This element is automatically generated by Sissi Studio MyBatis Generator, do not modify.
    -->
    delete from $!{tableName}
    <if test="_parameter != null">
      <include refid="Param_Where_Clause" />
    </if>
    <if test="page">
      limit #{pageSize}
    </if>
  </delete>
  <insert id="insert" keyProperty="id" parameterType="$!{table.getFullDomainObjectName()}" useGeneratedKeys="true">
    <!--
      WARNING
      This element is automatically generated by Sissi Studio MyBatis Generator, do not modify.
    -->
    insert into $!{tableName} ($!{column1})
    values ($!{column2})
  </insert>
  <insert id="insertSelective" keyProperty="$!{primaryKey.getName()}" parameterType="$!{table.getFullDomainObjectName()}" useGeneratedKeys="true">
    <!--
      WARNING
      This element is automatically generated by Sissi Studio MyBatis Generator, do not modify.
    -->
    insert into $!{tableName}
    <trim prefix="(" suffix=")" suffixOverrides=",">
#foreach($column in $table.getColumns())
#if(!$column.isKey())
      <if test="$!{column.getPropertyName()} != null">
        $!{column.getName()},
      </if>
#end
#end
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
#foreach($column in $table.getColumns())
#if(!$column.isKey())
      <if test="$!{column.getPropertyName()} != null">
        #{$!{column.getPropertyName()}, jdbcType=$!{column.getJdbcType()}},
      </if>
#end
#end
    </trim>
  </insert>

  <select id="countByParam" resultType="java.lang.Long">
    <!--
      WARNING
      This element is automatically generated by Sissi Studio MyBatis Generator, do not modify.
    -->
    select
    <if test="distinctSql != null">
      count(distinct(${distinctSql}))
    </if>
    <if test="distinctSql == null">
      count(*)
    </if>
    from $!{tableName}
    <if test="_parameter != null">
      <include refid="Param_Where_Clause" />
    </if>
  </select>

  <update id="updateByParamSelective">
    <!--
      WARNING
      This element is automatically generated by Sissi Studio MyBatis Generator, do not modify.
    -->
    update $!{tableName}
    <set>
#foreach($column in $table.getColumns())
      <if test="record.$!{column.getPropertyName()} != null">
        $!{column.getName()} = #{record.$!{column.getPropertyName()}, jdbcType=$!{column.getJdbcType()}},
      </if>
#end
    </set>

    <if test="_parameter != null">
      <include refid="Update_By_Param_Where_Clause" />
    </if>
  </update>
  <update id="updateByParam">
    <!--
      WARNING
      This element is automatically generated by Sissi Studio MyBatis Generator, do not modify.
    -->
    update $!{tableName}
    set
        $!{column3}
    <if test="_parameter != null">
      <include refid="Update_By_Param_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="$!{table.getFullDomainObjectName()}">
    <!--
      WARNING
      This element is automatically generated by Sissi Studio MyBatis Generator, do not modify.
    -->
    update $!{tableName}
    <set>
#foreach($column in $table.getColumns())
      <if test="record.$!{column.getPropertyName()} != null">
        $!{column.getName()} = #{record.$!{column.getPropertyName()}, jdbcType=$!{column.getJdbcType()}},
      </if>
#if(!$column.isKey())
      <if test="$!{column.getPropertyName()} != null">
        $!{column.getName()} = #{$!{column.getPropertyName()}, jdbcType=$!{column.getJdbcType()}},
      </if>
#end
#end
    </set>
    where $!{primaryKey.getName()} = #{$!{primaryKey.getPropertyName()}, jdbcType=$!{primaryKey.getJdbcType()}}
  </update>

  <update id="updateByPrimaryKey" parameterType="$!{table.getFullDomainObjectName()}">
    <!--
      WARNING
      This element is automatically generated by Sissi Studio MyBatis Generator, do not modify.
    -->
    update $!{tableName}
    set
    $!{column4}
    where $!{primaryKey.getName()} = #{$!{primaryKey.getPropertyName()}, jdbcType=$!{primaryKey.getJdbcType()}}
  </update>
  <insert id="batchInsert" keyProperty="$!{primaryKey.getName()}" parameterType="$!{table.getFullDomainObjectName()}" useGeneratedKeys="true">
    <!--
      WARNING
      This element is automatically generated by Sissi Studio MyBatis Generator, do not modify.
    -->
    insert into $!{tableName}
    <trim prefix="(" suffix=")" suffixOverrides=",">
#foreach( $column in $table.getColumns())
#if(!$column.isKey())
      $!{column.getName()},
#end
#end
    </trim>
    values
    <foreach collection="list" index="index" item="item" separator=",">
      (
      <trim suffixOverrides=",">
#foreach( $column in $table.getColumns())
#if(!$column.isKey())
        #{item.$!{column.getPropertyName()}, jdbcType=$!{column.getJdbcType()}},
#end
#end
      </trim>
      )
    </foreach>
  </insert>
</mapper>
